.topbar {
  width: 100%;
  height: 70px;
  background-color: rgba(224, 224, 238, 0.844);
  background: linear-gradient(rgba(245, 245, 248, 0.545), rgba(249, 249, 253, 0.816)),
    url("https://images.pexels.com/photos/5182979/pexels-photo-5182979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
      top;
  position: sticky;
  top: 0;
  z-index: 999;
  
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-style: 30px;
  color: rgba(47, 36, 118, 0.801);
  cursor: pointer;
}
.logo img {
  height: 45px;
}

.topRight {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  text-decoration: none;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: rgb(245, 235, 235);
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: -2px;
  
 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
